html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

body {
  font-size: 62.5%;
  background-color: #d1dfe7;
  font-family: "Josefin Sans";
}

.wrapper {
  max-width: 1580px;
  margin: 0 auto;
}

h1 {
  font-size: 4rem;
  margin: 0;
  font-family: "Josefin Slab";
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.0rem;
  color: #1e638e;
}

p {
  font-size: 1.2rem;
}

img {
  max-width: 100%;
  display: inline-block;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  font-size: 1.2rem;
  color: black;
  -webkit-text-decoration: underline transparent;
          text-decoration: underline transparent;
  -webkit-transition: -webkit-text-decoration 1s;
  transition: -webkit-text-decoration 1s;
  transition: text-decoration 1s;
  transition: text-decoration 1s, -webkit-text-decoration 1s;
}

a:hover, a:focus, a:active {
  -webkit-text-decoration: underline #c9664a;
          text-decoration: underline #c9664a;
  color: #c9664a;
}

i:hover, i:focus, i:active {
  color: #c9664a;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

button {
  background-color: #d1dfe7;
  border: 2px solid #c9664a;
  color: white;
  padding: 5% 2%;
  font-size: 1.2rem;
  -webkit-box-shadow: none;
          box-shadow: none;
}

button:hover, button:focus {
  cursor: pointer;
}

button:active {
  outline: none;
}

header {
  height: 100vh;
  position: relative;
}

.navigation {
  position: fixed;
  width: 100vw;
  margin-top: 2%;
  z-index: 2000;
}

span {
  font-size: 1.2rem;
  display: inline-block;
  margin-left: 2%;
}

nav {
  float: right;
  margin-right: 5%;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav ul li {
  margin: 0 2%;
}

nav ul form {
  margin-top: -16px;
  margin-left: -15px;
}

nav ul button {
  -webkit-box-shadow: inset 0 0 0 2px black;
          box-shadow: inset 0 0 0 2px black;
  color: black;
  -webkit-transition: color 0.25s 0.08333s;
  transition: color 0.25s 0.08333s;
  position: relative;
}

nav ul button::before, nav ul button::after {
  border: 0 solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}

nav ul button::before {
  border-bottom-width: 2px;
  border-left-width: 2px;
}

nav ul button::after {
  border-top-width: 2px;
  border-right-width: 2px;
}

nav ul button:hover {
  color: #d69657;
}

nav ul button:hover::before, nav ul button:hover::after {
  border-color: #d69657;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

nav ul button:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
}

nav ul button:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
          transition-delay: 0s, 0.25s, 0s;
}

nav ul button {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font-family: "Josefin Sans";
  font-size: 1.1rem;
  padding: 0.43em 1em;
  letter-spacing: 0.05rem;
}

nav ul button:focus {
  outline: 2px dotted #55d7dc;
}

.titleText {
  position: absolute;
  left: 40%;
  top: 45%;
  text-align: center;
}

.titleText h3, .titleText h4 {
  font-size: 1.3rem;
}

.work {
  color: #1e638e;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.work:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

@-webkit-keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.play {
  position: relative;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  color: #d69657;
}

.play:hover {
  cursor: pointer;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -moz-animation-name: bounce;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

.live {
  color: #c9664a;
}

.live:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  /* When the animation is finished, start again */
  -webkit-animation-iteration-count: 2s;
          animation-iteration-count: 2s;
}

.socialMedia {
  position: fixed;
  right: 5%;
  bottom: 34%;
}

.socialMedia li {
  margin-bottom: 50%;
}

.socialMedia a {
  font-size: 1.3rem;
}

.about {
  height: 100vh;
  border: 5px solid transparent;
}

.aboutContent {
  width: 80%;
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4% 10%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  height: 60vh;
  text-align: left;
  background-color: #1e638e;
  color: #d1dfe7;
  -webkit-box-shadow: 9px 9px 16px grey;
          box-shadow: 9px 9px 16px grey;
}

.aboutImg {
  width: 18%;
  position: relative;
  top: -68%;
  left: 65%;
  -webkit-box-shadow: 2px 2px 10px grey;
          box-shadow: 2px 2px 10px grey;
}

.aboutText {
  margin-right: 10%;
  width: 80%;
}

.aboutText span {
  color: #F5EE9E;
  margin: 0;
}

.aboutBold {
  font-weight: bold;
}

.experience {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10vh;
}

.experienceContent {
  border-radius: 7px;
  width: 70%;
  padding: 5%;
  padding-top: 8%;
  background-color: #d69657;
  color: black;
  -webkit-box-shadow: 6px 6px 10px grey;
          box-shadow: 6px 6px 10px grey;
  position: relative;
}

.experienceContent a {
  color: #173753;
  text-decoration: underline;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.experienceContent a:hover {
  color: #33658a;
}

.experienceContent button {
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.experienceContent button:hover, .experienceContent button:focus {
  -webkit-box-shadow: 5px 5px 2px gray;
          box-shadow: 5px 5px 2px gray;
  cursor: pointer;
}

.experienceContent button:active {
  outline: none;
}

.experienceTitle {
  margin-bottom: 0;
  width: auto;
  display: inline-block;
  position: absolute;
  top: 3%;
  left: 5%;
}

.projects {
  text-align: center;
  margin-top: 5%;
}

.project {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectSolid, .projectVoid {
  position: relative;
  height: 60vh;
  text-align: right;
  width: 65%;
  -webkit-box-shadow: 6px 6px 10px grey;
          box-shadow: 6px 6px 10px grey;
}

.projectSolid {
  background-color: #1e638e;
  color: #d1dfe7;
}

.projectSolid i {
  color: #d1dfe7;
}

.projectVoid {
  background-color: #d69657;
  color: black;
}

.projectImgLeft {
  width: 521px;
  position: absolute;
  top: -10%;
  right: -25%;
}

.projectDetail {
  text-align: left;
  width: 60%;
  margin: 10% 20% 0 5%;
}

.projectDetail h4 {
  display: inline-block;
  margin-right: 3%;
}

.contact {
  text-align: center;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact h2 {
  margin-top: 10%;
}

.contactContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
  margin: 0 auto;
}

.contactImg {
  width: 40%;
}

form {
  width: 40%;
  margin: 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 5%;
}

form button {
  margin-top: 4%;
}

input[type='text'],
input[type='email'] {
  padding: 0 5%;
  height: 55px;
  margin: 5% 0;
  border: none;
  outline: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
}

input[type='text']:active,
input[type='email']:active,
input[type='text']:focus,
input[type='email']:focus,
textarea:active,
textarea:focus {
  border: none;
  border: 2px solid black;
}

textarea {
  padding: 10% 5%;
  margin: 5% 0;
  border: 2px solid white;
  outline: none;
  background-color: transparent;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
}

::-webkit-input-placeholder {
  font-size: 1rem;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

:-ms-input-placeholder {
  font-size: 1rem;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

::-ms-input-placeholder {
  font-size: 1rem;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

::placeholder {
  font-size: 1rem;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #b5651d;
}

input:active::-webkit-input-placeholder,
textarea:active::-webkit-input-placeholder {
  color: #b5651d;
}

footer {
  margin-top: 5%;
  color: grey;
  text-align: center;
}

footer p {
  font-size: 1.3rem;
}
