.about{
    height: 100vh;
    border: 5px solid transparent;
}

.aboutContent{
    width: 80%;
    margin-top: 18%;
    display: flex;
    padding: 6% 10%;
    justify-content: flex-end;
    // position: relative;
    height: 45vh;
    text-align: right;
    background-color: $containerColor;
    color: $primaryColor;
    box-shadow: 6px 6px 10px grey;
    // display: inline-block;
}

.aboutImg{
    width: 15%;
    position: relative;
    top: -53%;
    left: 68%;
    // display: inline-block;
}

.aboutText{
    margin-right: 10%;
    width: 80%;
}


