.about{
    height: 100vh;
    border: 5px solid transparent;
}

.aboutContent{
    width: 80%;
    margin-top: 10%;
    display: flex;
    padding: 4% 10%;
    justify-content: flex-start;
    // float: left;
    position: relative;
    height: 60vh;
    text-align: left;
    background-color: $containerColor;
    color: $primaryColor;
    box-shadow: 9px 9px 16px grey;
    // display: inline-block;
}

.aboutImg{
    width: 18%;
    position: relative;
    top: -68%;
    left: 65%;
    box-shadow: 2px 2px 10px grey;
    // display: inline-block;
}

.aboutText{
    margin-right: 10%;
    width: 80%;
    span{
        color: $boldColor;
        margin: 0;
        // background-color: red;
    }
}

.aboutBold{
    font-weight: bold;
}
