.projects{
    text-align: center;
    // border: 5px solid transparent;
    margin-top: 5%;
}

.project{
    height: 100vh;
    display: flex;
    align-items: center;
}

.projectSolid, .projectVoid{
    position: relative;
    height:60vh;
    text-align: right;
    width: 65%;
    box-shadow: 6px 6px 10px grey;
}

.projectSolid{
    // border: 5px solid green;
    background-color: $containerColor;
    color: $primaryColor;
    // color: white;
    i{
        color: $primaryColor;
    }
}

.projectVoid{
    background-color: $experienceColor;
    color: black;
}

.projectImgLeft{
    width: 521px;
    position: absolute;
    top: -10%;
    right: -25%
}

.projectDetail{
    text-align: left;
    width: 60%;
    margin: 10% 20% 0 5%;
    h4{
        display: inline-block;
        margin-right: 3%;
    }
}